In [6]:
#Dependencies and Setup

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from tqdm import tqdm

# Import API key
from config import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

642

In [3]:
# Save config information.
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "metric"

# Build partial query URL
query_url = f"{url}appid={weather_api_key}&units={units}&q="

In [12]:
# set up lists to hold reponse info
city_list = []
lat = []
lon = []
temp = []

# Loop through the list of cities and perform a request for data on each
for city in tqdm(cities):
    try: 
        response = requests.get(query_url + city).json()
        lat.append(response["coord"]["lat"])
        lon.append(response["coord"]["lat"])
        temp.append(response["main"]["temp"])
        city_list.append(city)
    except:
        city_list.append(city)
        lat.append()
        lon.append(pd.NA)
        temp.append(pd.NA)

100%|██████████| 642/642 [01:12<00:00,  8.81it/s]

In [26]:
pd.DataFrame({
    "city_list":city_list,
    "lat" :lat,
    "lon" :lon,
     "temp":temp
}).dropna().reset_index(drop=True)

          city_list      lat      lon   temp
0      punta arenas   -53.15   -53.15   7.89
1       new norfolk -42.7826 -42.7826   22.6
2            barrow  71.2906  71.2906    -20
3            torbay  47.6666  47.6666  -3.16
4    saint-philippe -21.3585 -21.3585  21.61
..              ...      ...      ...    ...
581             wau   7.7029   7.7029  28.07
582          tekeli    44.83    44.83  -4.29
583     vasyshcheve  49.8285  49.8285      5
584       panzhihua  26.5851  26.5851  16.11
585        teahupoo -17.8333 -17.8333   31.3

[586 rows x 4 columns]

In [16]:
response.get("coord",{}).get("lat",pd.NA)

In [11]:
len(city_list)

642

In [15]:
response ={}