In [1]:
#Dependencies and Setup

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from tqdm import tqdm

# Import API key
from config import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

660

In [3]:
# Save config information.
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "metric"

# Build partial query URL
query_url = f"{url}appid={weather_api_key}&units={units}&q="

In [7]:
# set up lists to hold reponse info
city_list = []
lat = []
lon = []
temp = []

# Loop through the list of cities and perform a request for data on each
for city in tqdm(cities):
    try: 
        response = requests.get(query_url + city).json()
        lat.append(response["coord"]["lat"])
        lon.append(response["coord"]["lat"])
        temp.append(response["main"]["temp"])
        city_list.append(city)
    except:
        print("city not found")

  0%|          | 3/660 [00:00<01:46,  6.18it/s]

city not found

  4%|▍         | 25/660 [00:07<02:59,  3.54it/s]

city not found

  4%|▍         | 29/660 [00:08<03:08,  3.35it/s]

city not found

  6%|▌         | 37/660 [00:10<02:26,  4.25it/s]

city not found
city not found

  7%|▋         | 46/660 [00:14<04:33,  2.24it/s]

city not found

  8%|▊         | 50/660 [00:15<03:04,  3.31it/s]

city not found

  8%|▊         | 51/660 [00:15<02:29,  4.08it/s]

city not found

 12%|█▏        | 77/660 [00:25<02:46,  3.49it/s]

city not found

 13%|█▎        | 83/660 [00:27<02:49,  3.41it/s]

city not found

 16%|█▌        | 106/660 [00:34<02:59,  3.09it/s]

city not found

 17%|█▋        | 111/660 [00:36<02:27,  3.73it/s]

city not found

 17%|█▋        | 112/660 [00:36<02:13,  4.10it/s]

city not found

 18%|█▊        | 119/660 [00:39<04:00,  2.25it/s]

city not found

 19%|█▉        | 125/660 [00:40<02:59,  2.98it/s]

city not found

 22%|██▏       | 143/660 [00:45<02:24,  3.57it/s]

city not found

 25%|██▍       | 162/660 [00:52<02:13,  3.73it/s]

city not found

 27%|██▋       | 181/660 [00:58<02:19,  3.44it/s]

city not found

 30%|███       | 199/660 [01:04<02:37,  2.93it/s]

city not found

 31%|███       | 202/660 [01:04<01:50,  4.15it/s]

city not found
city not found

 32%|███▏      | 210/660 [01:07<02:02,  3.67it/s]

city not found

 33%|███▎      | 217/660 [01:12<05:13,  1.41it/s]

city not found

 34%|███▍      | 224/660 [01:15<04:27,  1.63it/s]

city not found

 38%|███▊      | 254/660 [01:25<01:58,  3.42it/s]

city not found

 41%|████      | 270/660 [01:31<02:29,  2.61it/s]

city not found

 42%|████▏     | 276/660 [01:33<01:48,  3.54it/s]

city not found

 43%|████▎     | 285/660 [01:36<01:36,  3.90it/s]

city not found
city not found

 44%|████▍     | 292/660 [01:38<02:48,  2.18it/s]

city not found

 46%|████▋     | 306/660 [01:44<02:14,  2.63it/s]

city not found

 48%|████▊     | 315/660 [01:47<01:32,  3.74it/s]

city not found

 48%|████▊     | 317/660 [01:47<01:15,  4.51it/s]

city not found

 49%|████▉     | 326/660 [01:51<01:47,  3.10it/s]

city not found

 56%|█████▌    | 368/660 [02:05<01:27,  3.33it/s]

city not found

 57%|█████▋    | 379/660 [02:07<01:03,  4.43it/s]

city not found
city not found

 62%|██████▏   | 409/660 [02:18<01:30,  2.77it/s]

city not found

 66%|██████▌   | 436/660 [02:27<01:06,  3.38it/s]

city not found

 67%|██████▋   | 439/660 [02:28<01:06,  3.32it/s]

city not found

 72%|███████▏  | 475/660 [02:38<00:45,  4.10it/s]

city not found

 72%|███████▏  | 476/660 [02:39<00:47,  3.86it/s]

city not found

 73%|███████▎  | 479/660 [02:39<00:39,  4.59it/s]

city not found

 77%|███████▋  | 505/660 [02:47<00:39,  3.92it/s]

city not found

 82%|████████▏ | 540/660 [03:05<00:46,  2.57it/s]

city not found

 83%|████████▎ | 545/660 [03:07<00:39,  2.93it/s]

city not found

 86%|████████▌ | 568/660 [03:17<00:34,  2.66it/s]

city not found

 89%|████████▉ | 589/660 [03:24<00:22,  3.20it/s]

city not found

 90%|████████▉ | 592/660 [03:25<00:22,  3.00it/s]

city not found

 91%|█████████ | 600/660 [03:28<00:21,  2.75it/s]

city not found

 95%|█████████▍| 624/660 [03:38<00:08,  4.06it/s]

city not found

 95%|█████████▍| 625/660 [03:38<00:10,  3.44it/s]

city not found

 97%|█████████▋| 641/660 [03:43<00:06,  2.89it/s]

city not found

100%|██████████| 660/660 [03:50<00:00,  2.87it/s]

In [20]:
CleanCity_df = pd.DataFrame({
    "city_list":city_list,
    "lat" :lat,
    "lon" :lon,
     "temp":temp
}).dropna().reset_index(drop=True)

CleanCity_df

           city_list      lat      lon   temp
0            mataura -46.1927 -46.1927   9.71
1           luderitz -26.6481 -26.6481  14.13
2         chokurdakh  70.6333  70.6333  19.67
3          busselton -33.6500 -33.6500  10.60
4    haines junction  60.7522  60.7522   8.91
..               ...      ...      ...    ...
602          tautira -17.7333 -17.7333  30.00
603           hohhot  40.8106  40.8106  14.00
604          khuzdar  27.7384  27.7384  25.77
605             nata   8.3333   8.3333  30.00
606         kochubey  44.3861  44.3861  20.05

[607 rows x 4 columns]

In [21]:
response.get("coord",{}).get("lat",pd.NA)

In [22]:
len(city_list)

607

In [23]:
response ={}

In [24]:
CleanCity_df

           city_list      lat      lon   temp
0            mataura -46.1927 -46.1927   9.71
1           luderitz -26.6481 -26.6481  14.13
2         chokurdakh  70.6333  70.6333  19.67
3          busselton -33.6500 -33.6500  10.60
4    haines junction  60.7522  60.7522   8.91
..               ...      ...      ...    ...
602          tautira -17.7333 -17.7333  30.00
603           hohhot  40.8106  40.8106  14.00
604          khuzdar  27.7384  27.7384  25.77
605             nata   8.3333   8.3333  30.00
606         kochubey  44.3861  44.3861  20.05

[607 rows x 4 columns]

In [26]:
requests.get(query_url + city).json()

{'coord': {'lon': 46.5825, 'lat': 44.3861},
 'weather': [{'id': 803,
   'main': 'Clouds',
   'description': 'broken clouds',
   'icon': '04d'}],
 'base': 'stations',
 'main': {'temp': 19.67,
  'feels_like': 19.29,
  'temp_min': 19.67,
  'temp_max': 19.67,
  'pressure': 1009,
  'humidity': 61,
  'sea_level': 1009,
  'grnd_level': 1011},
 'visibility': 10000,
 'wind': {'speed': 2.55, 'deg': 130, 'gust': 2.82},
 'clouds': {'all': 71},
 'dt': 1622510697,
 'sys': {'country': 'RU', 'sunrise': 1622509961, 'sunset': 1622565040},
 'timezone': 10800,
 'id': 868355,
 'name': 'Kochubey',
 'cod': 200}

In [49]:
hum = []



for city in tqdm(cities):
    try: 
        response2 = requests.get(query_url + city).json()
        lat.append(response["coord"]["lat"])
        lon.append(response["coord"]["lat"])
        temp.append(response["main"]["temp"])
        hum.append(response["main"]["humidity"])
        city_list.append(city)
    except:

SyntaxError: unexpected EOF while parsing (<ipython-input-49-82c5f1b09802>, line 14)

In [50]:
CleanCity_df2 = pd.DataFrame({
    "city_list":city_list,
    "lat" :lat,
    "lon" :lon,
    "temp":temp,
    "humidity":hum
})
CleanCity_df2

NameError: name 'hum' is not defined

In [ ]:
CleanCity_df2